Pandas Series Object

In [ ]:
#Series Object is one_dimensional labeled array
import pandas as pd
x1 = pd.Series([10,20,5,7,9])
x1

In [ ]:
import pandas as pd
x1 = pd.Series([10,20,5,7,9])
x1

In [ ]:
type(x1)

In [ ]:
x1 = pd.Series([10,20,5,7,9], index=['a', 'b',  'c', 'd',  'e'])
x1

creating a series from dictionary

In [ ]:
li = pd.Series({'a':10, 'b':20, 'c':30, 'd':40, 'e':50 })
li

In [ ]:
# to change the index position of the dictionary
li = pd.Series({'a':10, 'b':20, 'c':30, 'd':40 }, index=['e', 'd', 'c', 'b', 'a'])
li

Extracting Individual element

In [ ]:
# extracting a single element
s1 = pd.Series([1,2,3,4,5,6])
s1[3]

In [ ]:
# extracting element from start and stopping at the specified index
s1 = pd.Series([1,2,3,4,5,6,7,8])
s1[:5]

In [ ]:
# extracting element from the back
s1 = pd.Series([1,2,3,4,5,6])
s1[-3:]

Basic math operation on series

In [ ]:
# Adding a scalar value to series element
s1 = pd.Series([1,2,3,4,5,6])
s1 + 10

In [ ]:
# adding two series
s1 = pd.Series([1,2,3,4,5,6])
s2 = pd.Series([5,10,15,20,25,30])
s1 + s2

Creating Datafram

In [ ]:
import pandas as pd
Student_grade = pd.DataFrame({"Students":['Malik','Fulaan','sharpez','minister'], "Score":[70, 75, 68, 90]})
Student_grade

Dataframe In-Built function

In [ ]:
# head() is used to check the first five rows of a datframe
# shape() used to know how many rows and columns in the datframe
# tail() to show the last five rows 
# describe() basic description

import pandas as pd
iris = pd.read_csv('2018_Central_Park_Squirrel_Census_Data.csv')
iris

In [ ]:
iris.describe()

In [ ]:
iris.tail()

In [ ]:
iris.head()

In [6]:
#extracting from datafram use .iloc[]
iris.iloc[2:6,0:5]

           X          Y Unique Squirrel ID Hectare Shift
2 -73.974281  40.775534     11B-PM-1014-08     11B    PM
3 -73.959641  40.790313     32E-PM-1017-14     32E    PM
4 -73.970268  40.776213     13E-AM-1017-05     13E    AM
5 -73.968361  40.772591     11H-AM-1010-03     11H    AM

In [8]:
# using the .loc[] method
iris.loc[0:5, ('Unique Squirrel ID', 'Hectare', 'Shift')]

  Unique Squirrel ID Hectare Shift
0     37F-PM-1014-03     37F    PM
1     21B-AM-1019-04     21B    AM
2     11B-PM-1014-08     11B    PM
3     32E-PM-1017-14     32E    PM
4     13E-AM-1017-05     13E    AM
5     11H-AM-1010-03     11H    AM

In [12]:
# Dropping colums
# axis will equal to 1 to drop column and equal to 0 top drop row
# add to list to drop multiple colums
iris.drop(['Shift', 'Date'],  axis=1)

,X,Y,Unique Squirrel ID,Hectare,Hectare Squirrel Number,Age,Primary_Fur_Color,Highlight Fur Color,Combination of Primary and Highlight Color,Color notes,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,3,NaN,NaN,NaN,+,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,4,NaN,NaN,NaN,+,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,8,NaN,Gray,NaN,Gray+,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,14,Adult,Gray,NaN,Gray+,Nothing selected as Primary. Gray selected as ...,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,5,Adult,Gray,Cinnamon,Gray+Cinnamon,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,4,Adult,Gray,NaN,Gray+,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,5,Adult,Gray,White,Gray+White,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,7,Adult,Gray,"Black, Cinnamon, White","Gray+Black, Cinnamon, White",NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,2,NaN,Gray,"Cinnamon, White","Gray+Cinnamon, White",NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,1,Adult,Cinnamon,"Gray, White","Cinnamon+Gray, White",NaN,...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [13]:
#dropping rows
iris.drop([1,4,5], axis=0)

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary_Fur_Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
6,-73.954120,40.793181,36H-AM-1010-02,36H,AM,10102018,2,Adult,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9541201789795 40.7931811701082)
7,-73.958269,40.791737,33F-AM-1008-02,33F,AM,10082018,2,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9582694312289 40.7917367820255)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [15]:
#to use other pandas function just invoke the method name instead of using the describe method
# iris.mean()
# iris.median()
# iris.max()
# iris.min()
# iris.std()

# applying simple function to multiple data using the apply()
def half(s):
    return s*0.5
iris[['X', 'Y']].apply(half)

              X          Y
0    -36.978067  20.397041
1    -36.984429  20.391891
2    -36.987141  20.387767
3    -36.979821  20.395156
4    -36.985134  20.388106
...         ...        ...
3018 -36.981972  20.395434
3019 -36.985201  20.391280
3020 -36.983294  20.391839
3021 -36.981997  20.394958
3022 -36.987740  20.384820

[3023 rows x 2 columns]

In [18]:
def double_value(value):
    return value*2
iris[['X', 'Y']].apply(double_value)

               X          Y
0    -147.912269  81.588165
1    -147.937715  81.567565
2    -147.948562  81.551067
3    -147.919283  81.580626
4    -147.940535  81.552425
...          ...        ...
3018 -147.927886  81.581735
3019 -147.940803  81.565120
3020 -147.933174  81.567355
3021 -147.927988  81.579830
3022 -147.950959  81.539281

[3023 rows x 2 columns]

In [19]:
# value count function in the dataframe using value_count()
iris['Primary_Fur_Color'].value_counts()

Primary_Fur_Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

In [20]:
# sorting data based on index value using sort_values() it sorts from minimum to maximum
iris.sort_values(by='Hectare Squirrel Number')

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary_Fur_Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
1511,-73.972164,40.770118,7G-AM-1010-01,07G,AM,10102018,1,Adult,Gray,Cinnamon,...,False,False,False,False,True,False,True,False,NaN,POINT (-73.9721642509914 40.7701179390078)
1261,-73.971911,40.772314,9F-AM-1013-01,09F,AM,10132018,1,Adult,Black,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9719109949232 40.7723138521327)
1264,-73.978535,40.767492,2C-PM-1013-01,02C,PM,10132018,1,Adult,Gray,White,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9785353775382 40.7674923683184)
1269,-73.965292,40.790441,29A-PM-1019-01,29A,PM,10192018,1,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9652921233647 40.790440565854)
1271,-73.965675,40.783300,22E-PM-1014-01,22E,PM,10142018,1,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9656750232596 40.7833002587016)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,-73.970173,40.776235,14E-AM-1008-19,14E,AM,10082018,19,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.970173142921 40.7762349924081)
463,-73.970309,40.776399,14E-AM-1008-20,14E,AM,10082018,20,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.970308716071 40.7763985667344)
1322,-73.970182,40.776370,14E-AM-1008-21,14E,AM,10082018,21,Adult,Gray,NaN,...,False,False,False,False,False,True,False,False,"curious,but not expecting food",POINT (-73.9701824376506 40.7763703306736)
1398,-73.970443,40.776376,14E-AM-1008-22,14E,AM,10082018,22,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.970442878377 40.7763755560359)
16,-73.970393,40.776503,14E-AM-1008-23,14E,AM,10082018,23,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9703925210471 40.7765032004992)